<main  class="relative overflow-hidden">

  <div class="relative mx-auto px-8 max-w-7xl py-24  md:px-12">
    <div class="mx-auto ">

      <h1 class="text-white  font-bold md:text-6xl text-3xl tracking-tight leading-normal">
        Another eCommerce Site <span class="block opacity-30 font-normal tracking-wide">by Matt.</span>
      </h1>
      <p class="mt-8 text-white text-2xl opacity-50 font-light tracking-wide">Some tagline goes here... and then stuff to sell goes below that...</p>
      <div class="flex justify-start flex-col gap-3 mt-10 sm:flex-row">
        <a class="items-center h-12 justify-center rounded-full tracking-wide font-semibold duration-200 focus:outline-none inline-flex px-6 py-3 text-center w-full border-2 hover:bg-transparent border-indigo-500 bg-indigo-500 focus-visible:outline-indigo-500 focus-visible:ring-indigo-500  hover:border-indigo-500 hover:text-indigo-500 lg:w-auto text-white" href="#">Shop Now</a>
        <a class="items-center h-12 justify-center font-medium tracking-wide rounded-full border-indigo-500 duration-200 focus:outline-none inline-flex px-6 py-3 text-center w-full text-indigo-500  lg:w-auto border focus-visible:outline-indigo-500" href="#">Contact Us</a>
      </div>
    </div>

  </div>
</main>
