<main  >

  <div class="relative mx-auto px-8 max-w-7xl py-12   md:px-12">
    <div
      class="grid grid-cols-1 gap-6 lg:gap-y-32 md:grid-cols-2 ">
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="/src/img/g1.jpg"
          alt=""
          width="5456"
          height="3632"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-indigo-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Paper bags with print
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">Beige</p>
          </div>
          <p class="text-green-500 text-2xl">$300.00</p>
        </div>
      </figure>
      <figure>
        <img
            class="w-full rounded-3xl shadow-2xl"
            src="/src/img/g7.jpg"
            alt=""
            width="7952"
            height="5304"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-indigo-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Coffee bag
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Strong. Level: Designer
            </p>
          </div>
          <p class="text-green-500 text-2xl">$499.99</p>
        </div>
      </figure>
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="/src/img/g3.jpg"
          alt=""
          width="6388"
          height="4248"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-indigo-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Coffe bag
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Strong. Level: Developer
            </p>
          </div>
          <p class="text-green-500 text-2xl">$350.00</p>
        </div>
      </figure>
      <figure>
        <img
            class="w-full rounded-3xl shadow-2xl"
            src="/src/img/g4.jpg"
            alt=""
            width="3000"
            height="2399"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-indigo-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Coffe bag
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Strong. Level: Developer
            </p>
          </div>
          <p class="text-green-500 text-2xl">$350.00</p>
        </div>
      </figure>
      <figure>
        <img
            class="w-full rounded-3xl shadow-2xl"
            src="/src/img/g5.jpg"
            alt=""
            width="3000"
            height="2400"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-indigo-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Coffe bag
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Strong. Level: Developer
            </p>
          </div>
          <p class="text-green-500 text-2xl">$350.00</p>
        </div>
      </figure>
      <figure>
        <img
            class="w-full rounded-3xl shadow-2xl"
            src="/src/img/g2.jpg"
            alt=""
            width="2449"
            height="2449"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-indigo-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Basic Tee bag
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Olive green / Orange
            </p>
          </div>
          <p class="text-green-500 text-2xl">$299.99</p>
        </div>
      </figure>
    </div>
  </div>
</main>
